.card{
    width: 18rem;
    margin-right: 30px;
}
.card-text1{
    margin-top: -10px;
}
.imgSize{
    width: 288px;
    height: 200px;
    margin-left: -13px;
}
.starWarsLogo{
    width: 90px;
    height: 90px;
    margin-left: 80px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.scrolling{
    overflow-x: scroll;
}
.detailImg{
    width: 450px;

}
.detailMainDiv{
    display: flex;
}

.detailText{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
ul > li {
    display: inline;
    padding: 50px;
    margin-top: 20px;
    color: #fd5c63;
    font-weight: 600;
}
ul{
    margin-top: 40px;
    border-top: 1px solid #fd5c63;
    padding: 30px;

}